.DashBoard {
  width: 100%;  
  margin-bottom: 50px;
}

.Dashbody {
  overflow-y: scroll;
  height: 100vh;
}
.Dashbody::-webkit-scrollbar {
  display: none;
}

.dashcontent {
  padding: 10px;
  
  /* width: 90%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

 .ldbtn {
  border: none;
  background:  #e2e2e2;
  height: 200px;
  padding: 10px;
  position: fixed;
  writing-mode: vertical-rl;
  top: 40%;
  left: 0px;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 1px 6px 6px 2px #00000051;
  transition: font-size 0.5s ease-in-out;
}
 .rdbtn {
  border: none;
  background: #e2e2e2;
  height: 200px;
  padding: 10px;
  position: fixed;
  writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  top: 40%;
  right: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 1px 6px 6px 2px #00000051;
  transition: font-size 0.5s ease-in-out;
}
.ldbtn:hover{
  font-size: 26px;
}
.rdbtn:hover{
  font-size: 26px;
}

.card {
  transition: box-shadow 0.5s ease-in-out;
  /* Add smooth transition */
}

.card:hover {
  box-shadow: 1px 6px 6px 2px #00000051;
  /* Apply hover effect */
}

/* Card Animation */
.card {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s ease forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.part1 {
  display: flex;
  width: 100%;
  background: #a2a3a2;
  margin-bottom: 10px;
  padding: 30px;
  justify-content: space-between;
  box-shadow: 10px 5px 20px 1px rgb(51, 50, 50);

}

.leftpart1 {
  margin-right: 20px;
}

.premium-btn {
  background: linear-gradient(90deg, #f5f5f5, #e0e0e0);
  color: #333;
  padding: 10px 25px;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.premium-btn:hover {
  background: linear-gradient(90deg, #e0e0e0, #f5f5f5);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.dashloading {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Loading Animation */
.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.nextprebtn {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}





.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

/* Custom */

.header_title {
  color: transparent;
  background: -webkit-linear-gradient(25deg, #95bdf5, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
}

.header .type {
  color: #dbd56e;
  background: -webkit-linear-gradient(25deg, #95bdf5, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  animation: type 10s steps(90) 1s infinite normal both, cursor 1s step-end infinite;
  position: relative;
}

@keyframes type {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}