.filterBoard {
    display: flex;
    /* background: #f78585; */
    height: 90vh;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
}

.filterbody {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    /* Allows wrapping of items if space is insufficient */
    gap: 15px;
    /* Space between filter elements */
}

.filterbody .input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* Space between the input and button */
    flex: 1 1 200px;
    /* Ensures the input groups have some flexibility */
}

.filterbody .input-group select {
    border-radius: 4px;
    padding: 8px;
    font-size: 1rem;
    width: 70%;
    /* Makes sure inputs take up all available width */
}
.filterbody .input-group input{
    border-radius: 4px;
    padding: 8px;
    font-size: 1rem;
    width: 70%;
    /* Makes sure inputs take up all available width */
}

.filterbody .input-group button {
    border-radius: 4px;
    padding: 8px 15px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    cursor: pointer;
}

.filterbody .input-group button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.filterbody .input-group input:focus,
.filterbody .input-group select:focus,
.filterbody .input-group button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}